@model List<Wishlist>
@inject UserManager<IdentityUser> _userManager
@inject SignInManager<IdentityUser> _signInManager
@{
    ViewData["Title"] = "Indexx";
    Layout = null;
}
<style>
    body {
        background-color: #1a1814;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        margin-top: 50px;
    }

    .ozel {
        margin-left: 125px;
        background: #cda45e;
    }

 

    .clearfix {
        content: "";
        display: table;
        clear: both;
    }

    #site-header, #site-footer {
        background: #fff;
    }

    #site-header {
        margin: 0 0 30px 0;
    }

        #site-header h1 {
            font-size: 31px;
            font-weight: 300;
            padding: 40px 0;
            position: relative;
            margin: 0;
        }

    a {
        color: #000;
        text-decoration: none;
        -webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        -ms-transition: color .2s linear;
        -o-transition: color .2s linear;
        transition: color .2s linear;
    }

        a:hover {
            color: #53b5aa;
        }

    #site-header h1 span {
        color: #53b5aa;
    }

        #site-header h1 span.last-span {
            background: #fff;
            padding-right: 150px;
            position: absolute;
            left: 217px;
            -webkit-transition: all .2s linear;
            -moz-transition: all .2s linear;
            -ms-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear;
        }

        #site-header h1:hover span.last-span, #site-header h1 span.is-open {
            left: 363px;
        }

    #site-header h1 em {
        font-size: 16px;
        font-style: normal;
        vertical-align: middle;
    }

    .container {
        font-family: 'Open Sans', sans-serif;
        margin: 0 auto;
        width: 980px;
    }

    #cart {
        width: 100%;
    }

        #cart h1 {
            font-weight: 300;
        }

        #cart a {
            color: #53b5aa;
            text-decoration: none;
            -webkit-transition: color .2s linear;
            -moz-transition: color .2s linear;
            -ms-transition: color .2s linear;
            -o-transition: color .2s linear;
            transition: color .2s linear;
        }

            #cart a:hover {
                color: #000;
            }

    .product.removed {
        margin-left: 980px !important;
        opacity: 0;
    }

    .product {
        border: 1px solid #eee;
        margin: 20px 0;
        width: 100%;
        height: 195px;
        position: relative;
        -webkit-transition: margin .2s linear, opacity .2s linear;
        -moz-transition: margin .2s linear, opacity .2s linear;
        -ms-transition: margin .2s linear, opacity .2s linear;
        -o-transition: margin .2s linear, opacity .2s linear;
        transition: margin .2s linear, opacity .2s linear;
    }

        .product img {
            width: 100%;
            height: 100%;
        }

        .product header, .product .content {
            background-color: #fff;
            border: 1px solid #ccc;
            border-style: none none solid none;
            float: left;
        }

        .product header {
            background: #000;
            margin: 0 1% 20px 0;
            overflow: hidden;
            padding: 0;
            position: relative;
            width: 24%;
            height: 195px;
        }

            .product header:hover img {
                opacity: .7;
            }

            .product header:hover h3 {
                bottom: 73px;
            }

            .product header h3 {
                background: #53b5aa;
                color: #fff;
                font-size: 22px;
                font-weight: 300;
                line-height: 49px;
                margin: 0;
                padding: 0 30px;
                position: absolute;
                bottom: -50px;
                right: 0;
                left: 0;
                -webkit-transition: bottom .2s linear;
                -moz-transition: bottom .2s linear;
                -ms-transition: bottom .2s linear;
                -o-transition: bottom .2s linear;
                transition: bottom .2s linear;
            }

    .remove {
        cursor: pointer;
    }

    .product .content {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 140px;
        padding: 0 20px;
        width: 75%;
    }

    .product h1 {
        color: #cda45e;
        font-size: 25px;
        font-weight: 300;
        margin: 17px 0 20px 0;
    }

    .product footer.content {
        height: 50px;
        margin: 6px 0 0 0;
        padding: 0;
    }

    .product footer .price {
        background: #fcfcfc;
        color: #000;
        float: right;
        font-size: 15px;
        font-weight: 300;
        line-height: 49px;
        margin: 0;
        padding: 0 30px;
    }

    .product footer .full-price {
        background: #cda45e;
        color: #fff;
        float: right;
        font-size: 22px;
        font-weight: 300;
        line-height: 49px;
        margin: 0;
        padding: 0 30px;
        -webkit-transition: margin .15s linear;
        -moz-transition: margin .15s linear;
        -ms-transition: margin .15s linear;
        -o-transition: margin .15s linear;
        transition: margin .15s linear;
    }

    .qt, .qt-plus, .qt-minus {
        display: block;
        float: left;
    }

    .qt {
        font-size: 19px;
        line-height: 50px;
        width: 70px;
        text-align: center;
    }

    .qt-plus, .qt-minus {
        background: #fcfcfc;
        border: none;
        font-size: 30px;
        font-weight: 300;
        height: 100%;
        padding: 0 20px;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -ms-transition: background .2s linear;
        -o-transition: background .2s linear;
        transition: background .2s linear;
    }

        .qt-plus:hover, .qt-minus:hover {
            background: #cda45e;
            color: #fff;
            cursor: pointer;
        }

    .qt-plus {
        line-height: 50px;
    }

    .qt-minus {
        line-height: 47px;
    }

    #site-footer {
        margin: 30px 0 0 0;
    }

    #site-footer {
        padding: 40px;
    }

        #site-footer h1 {
            background: #fcfcfc;
            border: 1px solid #ccc;
            border-style: none none solid none;
            font-size: 24px;
            font-weight: 300;
            margin: 0 0 7px 0;
            padding: 14px 40px;
            text-align: center;
        }

        #site-footer h2 {
            font-size: 24px;
            font-weight: 300;
            margin: 10px 0 0 0;
        }

        #site-footer h3 {
            font-size: 19px;
            font-weight: 300;
            margin: 15px 0;
        }

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .btn {
        background: #cda45e;
        border: 1px solid #999;
        border-style: none none solid none;
        cursor: pointer;
        display: block;
        color: #fff;
        font-size: 20px;
        font-weight: 300;
        padding: 16px 0;
        width: 290px;
        text-align: center;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
        -ms-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }

        .btn:hover {
            color: #fff;
            background: #cda45e;
        }

    .type {
        background: #fcfcfc;
        font-size: 13px;
        padding: 10px 16px;
        left: 100%;
    }

    .type, .color {
        border: 1px solid #ccc;
        border-style: none none solid none;
        position: absolute;
    }


    .color {
        width: 40px;
        height: 40px;
        right: -40px;
    }

    .red {
        background: #cb5a5e;
    }

    .yellow {
        background: #f1c40f;
    }

    .blue {
        background: #3598dc;
    }

    .minused {
        margin: 0 50px 0 0 !important;
    }

    .added {
        margin: 0 -50px 0 0 !important;
    }
</style>
<head>
    <title>AzerƏt</title>
    <meta charset="UTF-8">
    <link rel="icon" href="~/assets/img/logoo.jpeg.png"
          type="image/x-icon">
    <!--===============================================================================================-->
</head>


<div  class="container">
     @foreach (var item in Model)
    {
        <section class="cart" id="cart">
            <article class="product">
                <header>
                    <a data-itemidd="@item.MenuId" class="remove">
                        <img src="~/UploadsImage/@item.Menu.Image" alt="">

                        <h3>Məhsulu sil</h3>
                    </a>
                </header>
                <input hidden type="text" value="@_userManager.GetUserId(User)" class="form-control" id="txt" placeholder="user id" />

                <div class="content">

                    <h1>@item.Menu.Name</h1>

                    @item.Menu.Title

                </div>

                <footer class="content">
                    <span data-itemidd="@item.MenuId" class="qt-minus">-</span>
                    <span class="qt">1</span>
                    <span data-itemidd="@item.MenuId" class="qt-plus">+</span>

                    <h2 class="full-price">
                        @item.Menu.Price ₼ 
                    </h2>

                    <h2 class="price">
                        @item.Menu.Price
                    </h2>
                </footer>
            </article>
        </section>
    }
</div>

<footer style="background-color: #1a1814;" id="site-footer">
    <div class="container clearfix">

        <div class="left">
            <h2 style="color:white" class="subtotal">Qiymət: <span></span>₼</h2>
            <h3 style="color:white" class="tax">Çatdırılma: <span></span>₼</h3>
         
        </div>

        <div style="margin-right: 60px;" class="right">
            <h1 class="totl" style="color:red; font-weight:700;">Minumum 15 AZN Sifariş qəbul olunur! <span> </span></h1>

            <h1 class="total">Ümumi: <span> </span>₼</h1>
            <button style="margin-left: 130px;" onclick="myFunction()" id="myBtn" type="reset" class="btn">
                Təsdiqlə
            </button>

            <a  class="btn ozel" id="sil" asp-route-id="@_userManager.GetUserId(User)" asp-action="Checkout" asp-controller="home">Təsdiqlə</a>

           
        </div>

    </div>
</footer>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $(".remove").click(function () {
            var MENUID = $(this).data('itemidd');
            var UseRId = $('#txt').val();
            var dataa = {
                menuId: MENUID,
                userId: UseRId
            };
            var el = $(this);
            el.parent().parent().addClass("removed");
            window.setTimeout(
                function () {
                    el.parent().parent().slideUp('fast', function () {
                        el.parent().parent().remove();
                        if ($(".product").length == 0) {
                            if (check) {
                                $("#cart").html("<h1>The shop does not function, yet!</h1><p>If you liked my shopping cart, please take a second and heart this Pen on <a href='https://codepen.io/ziga-miklic/pen/xhpob'>CodePen</a>. Thank you!</p>");
                            } else {
                                $("#cart").html("<h1>Məhsul yoxdur!</h1>");
                            }
                        }
                        var urll = '@Url.Action("PostDelete","Home")';
                    
                        $.ajax({
                            type: "POST",
                            url: urll,
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(dataa),
                            // data: JSON.stringify({ menuId: MenUId, userId: UseRId }),
                            dataType: "json",
                            success: function (response) {

                                
                            },
                            error: function (error) {
                               
                            }
                        });
                        changeTotal();
                    });
                }, 
             200);
        });

        $(".qt-plus").click(function () {
            var MENUID = $(this).data('itemidd');
            var UseRId = $('#txt').val();
            var qt = $(this).parent().children(".qt").html();
           

            var dataaa = {
                menuId: MENUID,
                userId: UseRId,
                Count: qt
            };
            
            var urll = '@Url.Action("CountAdd","Home")';
                    
                        $.ajax({
                            type: "POST",
                            url: urll,
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(dataaa),
                          
                            dataType: "json",
                            success: function (response) {

                            },
                            error: function (error) {
                               
                            }
                        });
                       
        });


        $(".qt-minus").click(function () {
            var MENUID = $(this).data('itemidd');
            var UseRId = $('#txt').val();
            var qt = $(this).parent().children(".qt").html();
        


            var dataaa = {
                menuId: MENUID,
                userId: UseRId,
                Count: qt
            };

            var urll = '@Url.Action("CountDell","Home")';
         
            $.ajax({
                type: "POST",
                url: urll,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(dataaa),
                // data: JSON.stringify({ menuId: MenUId, userId: UseRId }),
                dataType: "json",
                success: function (response) {
 
                },
                error: function (error) {
       
                }
            });

        });

        $(".qt-plus").click(function () {
            $(this).parent().children(".qt").html(parseInt($(this).parent().children(".qt").html()) + 1);

            $(this).parent().children(".full-price").addClass("added");

            var el = $(this);
            window.setTimeout(function () { el.parent().children(".full-price").removeClass("added"); changeVal(el); }, 150);
        });

        $(".qt-minus").click(function () {

            child = $(this).parent().children(".qt");

            if (parseInt(child.html()) > 1) {
                child.html(parseInt(child.html()) - 1);
            }

            $(this).parent().children(".full-price").addClass("minused");

            var el = $(this);
            window.setTimeout(function () { el.parent().children(".full-price").removeClass("minused"); changeVal(el); }, 150);
        });

        window.setTimeout(function () { $(".is-open").removeClass("is-open") }, 1200);

        // $(".btn").click(function () {
        //     check = true;
        //     $(".remove").click();
        // });
    });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/cart.js"></script>

