@model VmHome
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row mt-5">
            <div style="text-align: center; background: rebeccapurple; color: white; padding: 19px;" class="col-lg-3">
                <p>Gözlənilən sifarişlər</p>
                @Model.Checkouts.Where(q => q.isTrue == false).Count()
            </div>
            <div style="text-align: center; background: #99333b; color: white; padding: 19px;" class="col-lg-3">
                <p>Təsdiqlənmiş sifarişlər</p>
                @Model.Checkouts.Where(q => q.isTrue == true).Count()
            </div>
            <div style="text-align: center; background: #334599; color: white; padding: 19px;" class="col-lg-3">
                <p>İstifadəçilər </p>
                @Model.CustomUserss.Count()
            </div>
            <div style="text-align: center; background: #609933; color: white; padding: 19px; " class="col-lg-3">
                <p>Əlaqələr</p>
                @Model.Contactss.Count()
            </div>


            <div style="text-align: center; background: #609933; color: white; padding: 19px; " class="col-lg-3">
                <p>Qalereyalar</p>
                @Model.Galleries.Count()
            </div>
            <div style="text-align: center; background: #334599; color: white; padding: 19px; " class="col-lg-3">
                <p> Xüsusi</p>
                @Model.Specials.Count()
            </div>

            <div style="text-align: center; background: #99333b; color: white; padding: 19px;" class="col-lg-3">
                <p>Şeflər</p>
                 @Model.Cheifs.Count() 
            </div>
            <div style="text-align: center; background: rebeccapurple; color: white; padding: 19px;" class="col-lg-3">
                <p>Niyə görə</p>
                @Model.Whyus.Count()
            </div>

        </div>
    </div>
</main>
<script>
    var a = document.getElementById("foralert").textContent;
    console.log(a);
    window.setTimeout(

        function () {
            const audio = new Audio();
            audio.src = "../music/message.mp3";
            location.reload();
            if (a > 0) {
               
                audio.play();

                alert("Diqqət! yeni sifariş var!")

            }
        },
        40000);
</script>