@model AzerEt.Models.Cheif

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Cheif</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/UploadsCheifs/@Model.Image" alt="Alternate Text" style="max-width:100px; max-height:100px" />

        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Facelink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Facelink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instalink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instalink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Linkedinlink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Linkedinlink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
